nav {
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

ul {
list-style: none;
display: flex;
}

li {
margin: 0 10px;
}

a {
color: pink;
text-decoration: none;
padding: 10px;
}

a:hover {
background-color: #555;
}

main{
    display: flex;
}

img{
    width: 500px;
    height: 500px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

